::ng-deep .product-detail-modal {
  max-width: 100%;
  margin: 0;
}
::ng-deep .product-detail-modal .modal-dialog {
  max-width: 100%;
  margin: 0;
}
@media only screen and (min-width: 576px) {
  ::ng-deep .product-detail-modal .modal-dialog {
    max-width: 100%;
    margin: 0;
  }
}

.media {
  gap: 14px;
}
/* sncbshbfhfd */

//   view more button
.area a {
  background-color: #c7c7ff;
  color: #4040ff;
  padding: 3px 43px;
  border-radius: 6px;
}

/////
/// view more card
.ready-btn a {
  color: #ffb529;
  background-color: #ffeecd;
  padding: 3px 30px;
  border-radius: 6px;
}
.order-detail h5 {
  color: #7a7a7a;
  font-size: 17px;
}
.order-detail span {
  color: #6c825b;
  font-size: 17px;
}
.order-detail {
  gap: 40px;
}
//   view more card
// a.ml-5:focus {
//   color: #a1a59e;
//   background-color: #d0dec7;
//   font-weight: 400;
//   color: #2a6b00;
//   text-decoration: none;
//   padding: 6px 14px;
//   border-radius: 5px;
// }

a[href] {
  color: inherit;
  text-decoration: none;
}

.nav-active {
    color: #a1a59e;
    background-color: #d0dec7;
    font-weight: 400;
    color: #2a6b00;
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 5px;
  }

.order-border {
  border: 1px dashed grey;
}
.card.card-congtrats.d-grid.align-items-center {
  height: 231px;
}

// banner image
.banner-image-container {
  overflow: hidden; /* Hide any overflowing content */
}

.banner-image {
  aspect-ratio: 16/2;
  object-fit: cover;
  width: 100%;
}
