.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
    width: 90px;
}
.main-menu.menu-light .navigation > li.active > a {
    /* background: linear-gradient(118deg, #98e3c6, rgb(211 255 238 / 70%)); */
    box-shadow: 0 0 5px 1px rgb(134 173 158 / 70%);
    color: #fff;
    background-color: #98e3c6;
    font-weight: 400;
    border-radius: 4px;
}

