<div class="ticket">
  <div class="card card-congratulation-medal">
      <div class="card-body">
          <h1>Tickets </h1>
          <div class="row match-height">
              <div class="col-6 col-md-6 col-lg-6">
                  <div class="card-body">
                      <div class="outlet-body">
                         
                      </div>
                  </div>
              </div>
              <div class="col-6 col-md-6 col-lg-6">
                <div class="card-body">
                    <div class="outlet-body">
                      
                    </div>
                </div>
               <div class="row  match-height">
                <div class="col-12 col-md-12 col-lg-12">
                  <div class="card-body">
                      <div class="outlet-body">
                         
                      </div>
                  </div>
              </div>
               </div>
            </div>
          </div>
      </div>


  </div>
</div>




<div class="order">
    <div class="card card-congratulation-medal">
      <div class="card-body">
        <h1>All Outlet</h1>
        <div class="row match-height">
          <div class="col-md-6">
            sehyjdvhew
          </div>
          <div class="col-md-6">
            dhjcfvhj
          </div>
        </div>
      </div>
    </div>
  </div>
