<div class="ticket">
  <div class="card card-congratulation-medal">
      <div class="card-body">
          <h1>Tickets </h1>
          <div class="row match-height">
              <div class="col-6 col-md-6 col-lg-6">
                  <div class="card-body">
                      <div class="outlet-body">
                         <div class="account-parent d-flex align-items-center">
                            <div class="avatar img">
                              <img class="round" src="../../../../assets/images/myimages/image (25).png">
                            </div>
                            <div class="avatar-parent">
                              <span class="user-name font-weight-light">Apna Sweets</span>
                              <p>Vijay Nagar</p>
                            </div>
                         </div> 
                         <hr>
                         <div class="details-parent">
                            <div class="heading">
                              <h1>Basic Details</h1>
                            </div>
                            <div class=" card-transaction">
                              <div class="card-header">
                                <h4 class="card-title"></h4>
                                <!-- <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i> -->
                                
                              </div>
                              <div class="card-body">
                                <div class="transaction-item">
                                  <div class="media">
                                    <div class="avatar bg-light-primary rounded">
                                      <div class="avatar-content">
                                        <i data-feather="user" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                      <h6 class="transaction-title">Seller Name:</h6>
                                      <!-- <small>Starbucks</small> -->
                                    </div>
                                  </div>
                                  <div class="details">kanchan shinde</div>
                                </div>
                                <div class="transaction-item">
                                  <div class="media">
                                    <div class="avatar bg-light-success rounded">
                                      <div class="avatar-content">
                                        <i data-feather="trending-up" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                      <h6 class="transaction-title">TradeName</h6>
                                      
                                    </div>
                                  </div>
                                  <div class="details">shinde's kitchen</div>
                                </div>
                                <div class="transaction-item">
                                  <div class="media">
                                    <div class="avatar bg-light-danger rounded">
                                      <div class="avatar-content">
                                        <i data-feather="type" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                      <h6 class="transaction-title">sellerType</h6>
                                     
                                    </div>
                                  </div>
                                  <div class="details">enterprise</div>
                                </div>
                                <div class="transaction-item">
                                  <div class="media">
                                    <div class="avatar bg-light-warning rounded">
                                      <div class="avatar-content">
                                        <i data-feather="credit-card" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                      <h6 class="transaction-title">GST No:</h6>
                                     
                                    </div>
                                  </div>
                                  <div class="details">DEMOGST3445</div>
                                </div>
                                <div class="transaction-item">
                                  <div class="media">
                                    <div class="avatar bg-light-info rounded">
                                      <div class="avatar-content">
                                        <i data-feather="credit-card" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                      <h6 class="transaction-title">Pan Number:</h6>
                                     
                                    </div>
                                  </div>
                                  <div class="details">JEFTCA7852</div>
                                </div>
                                <div class="transaction-item">
                                  <div class="media">
                                    <div class="avatar bg-light-info rounded">
                                      <div class="avatar-content">
                                        <i data-feather="phone" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                      <h6 class="transaction-title">Phone Number:</h6>
                                      
                                    </div>
                                  </div>
                                  <div class="details">9862959668</div>
                                </div>
                                <div class="transaction-item">
                                  <div class="media">
                                    <div class="avatar bg-light-info rounded">
                                      <div class="avatar-content">
                                        <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                      <h6 class="transaction-title">Verification Status:</h6>
                                      
                                    </div>
                                  </div>
                                  <div class="details">9862959668</div>
                                </div>
                                <div class="transaction-item">
                                  <div class="media">
                                    <div class="avatar bg-light-info rounded">
                                      <div class="avatar-content">
                                        <i data-feather="info" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                      <h6 class="transaction-title">Number Of Shop:</h6>
                                      
                                    </div>
                                  </div>
                                  <div class="details">9862959668</div>
                                </div>
                              </div>
                            </div>
                         </div>
                      </div>
                  </div>
              </div>
              <div class="col-6 col-md-6 col-lg-6">
                <div class="card-body">
                    <div class="outlet-body">
                      <div class="heading2">
                        <h1>License Details</h1>
                      </div>
                      <div class=" card-transaction">
                        <div class="card-header">
                          <h4 class="card-title"></h4>
                          <!-- <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i> -->
                          
                        </div>
                        <div class="card-body">
                          <div class="transaction-item">
                            <div class="media">
                              <div class="avatar bg-light-primary rounded">
                                <div class="avatar-content">
                                  <i data-feather="check-square" class="avatar-icon font-medium-3"></i>
                                </div>
                              </div>
                              <div class="media-body">
                                <h6 class="transaction-title">Name On Licence </h6>
                              
                              </div>
                            </div>
                            <div class="details">- $74</div>
                          </div>
                          <div class="transaction-item">
                            <div class="media">
                              <div class="avatar bg-light-success rounded">
                                <div class="avatar-content">
                                  <i data-feather="tablet" class="avatar-icon font-medium-3"></i>
                                </div>
                              </div>
                              <div class="media-body">
                                <h6 class="transaction-title">Licence Number:</h6>
                              
                              </div>
                            </div>
                            <div class="details">+ $480</div>
                          </div>
                          <div class="transaction-item">
                            <div class="media">
                              <div class="avatar bg-light-danger rounded">
                                <div class="avatar-content">
                                  <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                </div>
                              </div>
                              <div class="media-body">
                                <h6 class="transaction-title">Issued On:</h6>
                                
                              </div>
                            </div>
                            <div class="details">+ $590</div>
                          </div>
                          <div class="transaction-item">
                            <div class="media">
                              <div class="avatar bg-light-warning rounded">
                                <div class="avatar-content">
                                  <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                                </div>
                              </div>
                              <div class="media-body">
                                <h6 class="transaction-title">Tenure:</h6>
                               
                              </div>
                            </div>
                            <div class="details">- $23</div>
                          </div>
                       
                        </div>
                      </div>
                    </div>

                </div>
               <div class="row  match-height">
                <div class="col-12 col-md-12 col-lg-12">
                  <div class="card-body">
                      <div class="outlet-body">
                        <div class="heading1">
                          <h1>Authorised Person Details</h1>
                        </div>
                        <div class=" card-transaction">
                          <div class="card-header">
                            <h4 class="card-title"></h4>
                            <!-- <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i> -->
                            
                          </div>
                          <div class="card-body">
                            <div class="transaction-item">
                              <div class="media">
                                <div class="avatar bg-light-primary rounded">
                                  <div class="avatar-content">
                                    <i data-feather="user" class="avatar-icon font-medium-3"></i>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <h6 class="transaction-title">Name</h6>
                                  
                                </div>
                              </div>
                              <div class="details">- $74</div>
                            </div>
                            <div class="transaction-item">
                              <div class="media">
                                <div class="avatar bg-light-success rounded">
                                  <div class="avatar-content">
                                    <i data-feather="credit-card" class="avatar-icon font-medium-3"></i>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <h6 class="transaction-title">Pan No:</h6>
                                </div>
                              </div>
                              <div class="details">+ $480</div>
                            </div>
                            <div class="transaction-item">
                              <div class="media">
                                <div class="avatar bg-light-danger rounded">
                                  <div class="avatar-content">
                                    <i data-feather="phone" class="avatar-icon font-medium-3"></i>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <h6 class="transaction-title">Phone No:</h6>
                                 
                                </div>
                              </div>
                              <div class="details">+ $590</div>
                            </div>
                            <div class="transaction-item">
                              <div class="media">
                                <div class="avatar bg-light-warning rounded">
                                  <div class="avatar-content">
                                    <i data-feather="mail" class="avatar-icon font-medium-3"></i>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <h6 class="transaction-title">Email</h6>
                                 
                                </div>
                              </div>
                              <div class="details">- $23</div>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
               </div>
            </div>
          </div>
      </div>


  </div>
</div>





