
.card.offer-box h4, .card.offer-box h5 {
    color: #000000;
}

.offer-details-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    float: right;
}
.btn1 {
    /* background-color: #148AE5; */
    color: #afb4e4 !important;
    padding: 7px 53px;
    text-align: center;
    border-radius: 5px; 
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #afb4e4;
}
.btn1{
    color: #afb4e4 !important;
    padding: 7px 53px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb4e4;
}
  
.btn2 {
    background-color: #afb4e4;
    color: #fff !important;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 16px;
    display: flex;
    padding: 0 45px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
  }







  .first-clm {
    flex: 0 0 20%;
    max-width: 20%;
}
.column-parent{
    display: flex;
}
.first-clm {
    height: 100px;
    width: 100px;
    background-color: #afb4e4;
}


/* ----- Variables ----- */
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

/* ----- Global ----- */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 1fr;
	font-family: "Raleway", sans-serif;
	background-color: #01e37f;
}

h3 {
	font-size: 0.7em;
	letter-spacing: 1.2px;
	color: $color-secondary;
}

img {
			max-width: 100%;
			filter: drop-shadow(1px 1px 3px $color-secondary);
		}

/* ----- Product Section ----- */
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	min-width: 600px;
	background-color: white;
	border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
	position: relative;
}
.photo-container {
    position: absolute;
    left: -7em;
    width: 135px;
    background-color: #afb4e4;
    height: 135px;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
	border-radius: 6px 6px 0 0;
	background-color: #9be010;
	background: radial-gradient(#e5f89e, #96e001);

	.controls {
		display: flex;
		justify-content: space-between;
		padding: 0.8em;
		color: #fff;

		i {
			cursor: pointer;
		}
	}

	img {
		position: absolute;
		left: -3.5em;
		top: 2em;
		max-width: 110%;
		filter: saturate(150%) contrast(120%) hue-rotate(10deg)
			drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
	}
}

.photo-album {
	padding: 0.7em 1em;
	border-radius: 0 0 6px 6px;
	background-color: #fff;

	ul {
		display: flex;
		justify-content: space-around;
	}

	li {
		float: left;
		width: 55px;
		height: 55px;
		padding: 7px;
		border: 1px solid $color-secondary;
		border-radius: 3px;
	}
}

/* ----- Informations Section ----- */
.product__info {
	padding: 0.8em 0;
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: $color-primary;
		font-size: 1.5em;
		font-weight: 900;
	}

	span {
		font-size: 0.7em;
		color: $color-secondary;
	}
}

.price {
	margin: 1.5em 0;
	color: $color-highlight;
	font-size: 1.2em;

	span {
		padding-left: 0.15em;
		font-size: 2.9em;
	}
}

.variant {
	overflow: auto;

	h3 {
		margin-bottom: 1.1em;
	}

	li {
		float: left;
		width: 35px;
		height: 35px;
		padding: 3px;
		border: 1px solid transparent;
		border-radius: 3px;
		cursor: pointer;

		&:first-child,
		&:hover {
			border: 1px solid $color-secondary;
		}
	}

	li:not(:first-child) {
		margin-left: 0.1em;
	}
}

.description {
	clear: left;
	margin: 2em 0;

	h3 {
		margin-bottom: 1em;
	}

	ul {
		font-size: 0.8em;
		list-style: disc;
		margin-left: 1em;
	}

	li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
	}
}

.buy--btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: $color-highlight;
	box-shadow: 2px 2px 25px -7px $color-primary;
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}

/* ----- Footer Section ----- */



.product__photo[_ngcontent-nya-c206] {
    position: relative;
    height: 100px;
    width: 100px;
}
p.apply{
    max-width: 292px;
    float: right;
}




p.material-icons {
    font-size: 20px;
    color: white;
}
h2.material-icons1 {
    font-size: 37px;
    color: white;
}
p.material{
	font-size: 20px;
    color: white;
}
.controls {
    padding-top: 10px;
}
.card.offer-box {
    border-radius: 15px;
    color: #000;
    background-color: white;
    text-align: center;
    border-bottom: none;
    background: none;
    width: 75%;
    background-color: white;
}










// 
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');



.blog-slider {
    /* width: 95%; */
    position: relative;
    /* max-width: 800px; */
    margin: auto;
    background: #fff;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
    padding: 25px;
    border-radius: 8px;
    // height: 220px;
    width:88%;
    transition: all 0.3s;

  
  &__img {
     // width: 40%;
    width: 150px;
    flex-shrink: 0;
    height: 150px;
	background-image: linear-gradient(147deg, #3e88eb 0%, #5192e999 74%);
	// background-color: #afb4e4;
    box-shadow: 4px 8px 15px -3px rgba(201, 199, 199, 0.75);
    border-radius: 20px;
    transform: translateX(-62px);
    overflow: hidden;
  }

  &__button {
    display: inline-flex;
    // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
	background-color: white;
	// border: 1px solid #afb4e4;
	border: 1px solid #3e88eb;
    padding: 6px 50px;
    border-radius: 4px;
    color: #3e88eb;
    // box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
  }


}
.blog-slider__item.swiper-slide {
    display: flex;
    align-items: center;
}
.edit-parent.d-flex.justify-content-between {
    padding-top: 30px;
}
.blog-ctn {
    text-align: center;
    padding-top: 25px;
	color: white;
	
}
.blog-ctn h1 {
	color: white;
}

.blog-slider__button1{
	display: inline-flex;
    // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
	// background-color: #afb4e4;
	background-image: linear-gradient(147deg, #3e88eb 0%, #5192e999 74%);
	// border: 1px solid #afb4e4;
    padding: 6px 45px;
    border-radius: 4px;
    color: white;
	border: none;
    // box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}
.edit-parent.d-flex.justify-content-between {
    padding-top: 14px;
}
.blog-slider__text p {
    padding-top: 14px;
}
.blog-slider__content h4 {
    font-size: 18px;
    max-width: 325px;
    font-weight: bold;
}


span.offer {
    font-weight: bold;
    color: #6f6c7c;
    font-size: 16px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}
.blog-slider__content h4 {
    font-size: 18px;
    max-width: 325px;
    font-weight: bold;
}